

body{

margin:0;
font-family:Arial, sans-serif;
background:#f5f7fb;
padding-bottom:80px;

}




.navbar{

display:flex;
justify-content:space-between;
align-items:center;
background:#0d6efd;
padding:15px;
border-bottom:2px solid #003366;

}

.nav-left{

display:flex;
align-items:center;
gap:10px;

}

.logo{

width:50px;
height:50px;
object-fit:contain;
border-radius:50%;
border:2px solid white;

}

.nav-links{

list-style:none;
display:flex;
gap:20px;

}

.nav-links a{

color:white;
text-decoration:none;
font-weight:bold;
font-size:16px;

}

.nav-links a:hover{

color:#cce0ff;

}


.container{

max-width:900px;
margin:30px auto;
padding:25px;
border:2px solid #ccc;
border-radius:10px;
background:white;

}


.feedback-page{

background:linear-gradient(135deg,#0a0a0a,#1a1a1a);
color:white;

}

.feedback-page .container{

max-width:600px;

}

.feedback-page .card{

background:#111;
border-radius:15px;
padding:25px;
box-shadow:0px 0px 25px rgba(0,0,0,0.8);
border:1px solid #2a2a2a;

}

.feedback-page h2{

color:#0d6efd;

}

.feedback-page label{

color:#ccc;

}

.feedback-page .form-control{

background:#1a1a1a;
border:1px solid #333;
color:white;

}

.feedback-page button{

background:#0d6efd;

}


.bank-footer{

background:#1f6fd8;
color:white;
width:100%;
padding:15px;
position:fixed;
bottom:0;
left:0;
display:flex;
justify-content:center;
align-items:center;
border-top:3px solid #0d6efd;
box-shadow:0 -3px 10px rgba(0,0,0,0.2);

}

.footer-info{

display:flex;
gap:60px;
font-size:15px;

}

.footer-info p{

margin:0;
display:flex;
align-items:center;
gap:8px;

}


.left-images{

width:260px;
display:flex;
flex-direction:column;
gap:30px;

}

.left-images img{

width:240px;
height:150px;
object-fit:cover;
border-radius:12px;
box-shadow:0px 5px 15px rgba(0,0,0,0.25);
transition:0.3s;
border:1px solid #ddd;

}

.left-images img:hover{

transform:scale(1.04);

}



.page-title{

text-align:center;
padding:30px;

}

.services-container{

display:flex;
flex-wrap:wrap;
justify-content:center;
gap:25px;
padding:30px;

}

.service-card{

width:250px;
background:white;
padding:25px;
border-radius:12px;
box-shadow:0 6px 15px rgba(0,0,0,0.15);
text-align:center;
transition:0.3s;

}

.service-card:hover{

transform:scale(1.05);

}

.about-section{

display:flex;
align-items:flex-start;
gap:40px;
padding:40px;
max-width:1100px;
margin:auto;

}

.about-image img{

width:300px;
height:auto;
border-radius:10px;
box-shadow:0 4px 10px rgba(0,0,0,0.2);

}

.about-text{

flex:1;
background:white;
padding:30px;
border-radius:10px;
box-shadow:0 4px 10px rgba(0,0,0,0.1);

}

.about-text h2{

color:#0b3d91;

}

.about-text p{

line-height:1.6;

}}

