.navbar{

display:flex;

justify-content:space-between;

align-items:center;

background:#87CEFA;   /* light blue */

padding:15px;

border-bottom:2px solid #0d6efd;

}

.nav-left{

display:flex;

align-items:center;

gap:10px;

}

.logo{

width:50px;

height:50px;

object-fit:cover;

border-radius:50%;   /* makes logo circle */

border:2px solid white;

}

.nav-links{

list-style:none;

display:flex;

gap:20px;

}

.nav-links a{

color:white;

text-decoration:none;

font-weight:bold;

font-size:16px;

}

.nav-links a:hover{

color:#003366;

}
.container{
  margin: 15px auto;
  paddings: 15px;
  border: 2px solid #ccc;
  border-radius: 8px;
}

.feedback-page{

background: linear-gradient(135deg,#0a0a0a,#1a1a1a);
font-family: Arial, sans-serif;
color:white;

}

.feedback-page .container{

max-width:600px;

}

.feedback-page .card{

background:#111;
border-radius:15px;
padding:25px;
box-shadow:0px 0px 25px rgba(0,0,0,0.8);
border:1px solid #2a2a2a;

}

.feedback-page h2{

color:#0d6efd;
font-weight:bold;

}

.feedback-page label{

font-weight:500;
color:#ccc;

}

.feedback-page .form-control{

background:#1a1a1a;
border:1px solid #333;
color:white;

}

.feedback-page button{

background:#0d6efd;

}
.navbar{

display:flex;

justify-content:space-between;

align-items:center;

background:#0d6efd;

padding:15px;

}

.nav-left{

display:flex;

align-items:center;

gap:10px;

}

.logo{

width:50px;

height:50px;

object-fit:contain;

}

.nav-links{

list-style:none;

display:flex;

gap:20px;

}

.nav-links a{

color:white;

text-decoration:none;

font-weight:bold;

}

.nav-links a:hover{

color:#cce0ff;

}
